.trending-goods {
    overflow-y: hidden;
    height: 820px;


    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        line-height: 60px;
        color: $dark-gray;
        margin-bottom: 55px;
    }


    &__items {
        margin: 0 30px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 440px;
        height: 405px;
        border: 1px solid #e7ecf2;
        background-color: $white;
        display: flex;

    }

    &__item-img{
        overflow: hidden;
        width: 440x;
        height: 250px;
        background: #d4d4d4;
        border: 1px solid #e0e0e0;
    }

    &__item-pic {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__item-info {
        overflow: hidden;

    }


    &__item-info-upper{
        display: flex;
        border-bottom: 1px solid #e7ecf2;
    }

    &__info-price-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 205px;
        padding: 8px;
    }

    &__item-info-lower {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px 30px;

    }

    &__item-info-name {
        font-size: 18px;
        font-weight: 500;
        color: $dark-gray;
        margin-bottom: 10px;
        margin-top: 30px;
        flex-wrap: nowrap;
    }

    &__item-info-name,
    &__item-info-category {
        margin-left: 30px;
        display: block;

    }

    &__item-info-category {
        color: #8bc34a;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__item-info-price {
        font-size: 20px;
        font-weight: 700;
        line-height: 60px;
        color: $dark-gray;
        white-space: nowrap;

    }

    &__item-info-rating-user-avatar {
        width: 30px;
        height: 30px;
        background: #d4d4d4;
        border-radius: 50%;
        overflow: hidden;
    }

    &__item-info-rating-user-avatar-pic {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__item-info-rating-user-name {
        font-size: 14px;
        font-weight: 500;
        line-height: 60px;
        color: $gray;
    }

    &__item-info-rating-stars {
        color: #ffa726;
        font-size: 12px;
        font-weight: 400;
        line-height: 60px;
    }

    &__rating-count {
        margin-left: 10px;
    }

    .owl-carousel {
        display: block;
    }


    .owl-carousel .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 65px;

    }

    .owl-carousel .owl-dot {
        width: 16px;
        height: 16px;
        background-color: #e8e8e8!important;
        border: 1px solid #000000 !important;
        opacity: 0.8;
        border-radius: 50%;
        margin-right: 6px;

    }
    
    .owl-carousel  .owl-dot.active {
        background-color: #8bc34a !important;
    }

    .owl-carousel .owl-next,
    .owl-carousel .owl-prev {
        display: none;
    }

} 